:root {
    --primary-green: #429345;
    --primary-red: #E53935;
    --neutral-white: #F9F9F9;
    --warm-brown: #8D6E63;
    --accent-yellow: #FFEB3B;

}



@font-face {
    font-family: "SoDoSans-Light";
    src: url(./assets/fonts/SoDoSans-Light.ttf);
}

@font-face {
    font-family: "SoDoSans-Regular";
    src: url(./assets/fonts/SoDoSans-Regular.ttf);
}

@font-face {
    font-family: "SoDoSans-SemiBold";
    src: url(./assets/fonts/SoDoSans-SemiBold.ttf);
}

@font-face {
    font-family: "shadeBlue";
    src: url(./assets/fonts/ShadeBlue.ttf);
}

* {
    font-family: "SoDoSans-Regular";
}

.navbar {

    box-shadow:
        0 1px 3px rgb(0, 0, 0, .1),
        0 2px 2px rgb(0, 0, 0, .06),
        0 0px 2px rgb(0, 0, 0, .07);
}

.navbar-brand:focus {
    outline: none !important;
}

.navbar-brand img {
    width: 80px;
    height: auto;
}

.navbar-brand span {
    color: var(--primary-green) !important;
    font-size: 1.8rem !important;
    font-weight: 400;
    margin-left: 5px;
}

.font-family-logo {
    font-family: "shadeBlue", sans-serif;
    font-size: 2rem !important;
}

.nav-link-sb {
    text-decoration: none !important;
}

.nav-link-sb ion-icon {
    font-size: 1.4rem;
    color: #1f2021;
    margin-right: 5px;
}

.nav-link-sb span {

    color: #1f2021;

}


.btn-white {

    border: 1px solid #000;
    border-radius: 2rem;
    padding: 3px 18px;
    font-size: .9rem;
    background-color: white;
    transition: background, .3s ease;

}

.btn-white:hover {
    background-color: hwb(0 95% 5%);
}

.img-producto {

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 288px;
    height: 288px;
    transition: padding .3s ease;
    position: relative;
    overflow: hidden;
    view-timeline-name: --image;
    view-timeline-axis: block;


    animation-timeline: --image;
    animation-name: AnimationImages;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;


}

.img-producto:hover {

    padding: 14px;

}

.content-pizza .img-producto {
    background: #f9f4ed;

}

.content-refresco .img-producto {
    background: #eaf2f8;

}


.content-postre .img-producto {
    background: #fff8fa;
    max-width: 288px;
}

.precio {
    position: absolute;
    left: 8%;
    top: 64%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateX(-10px);
    pointer-events: none;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: white;
    border-left: 1px solid #e5e7eb;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;

}


.list-group {
    flex-grow: 1;
    overflow-y: auto;
}

.total-pedido {
    position: absolute;
   bottom: 0;
    left: 0;
    right: 0;
   height: 100px;
   

}



.btn-close:focus {
    box-shadow: none !important;
}

.icon-add {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;

}

.btn-add:focus {
    box-shadow: none !important;
    background: #4fa952 !important;
}

.btn-add {


    background: var(--primary-green);
    border: none !important;

    border-radius: 16px 0 0 16px;
    opacity: 0;
    visibility: hidden;
    transform-origin: right;
    transform: scale(1) scaleX(0); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;


}

.btn-add.visible {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1); 
}

.btn-add:hover {

    background: #337235;

}

footer {
    margin-top: 200px !important;
    background: #469248;
    color: #fff;
    padding: 3rem 0;
}

.social-icons a {
    font-size: 1.25rem;
}

.list-unstyled a,
p {
    color: #ffffff !important;
    font-weight: 200;
}

.text-muted:hover {

    color: var(--primary-green) !important;

}

.social-icons {
    padding: 5px !important;
    margin: 0 !important;
    list-style: none;
    display: flex;
    gap: 10px;
}

.list-inline-item a {
    width: 24px;
    display: inline-block !important;
    transition: transform 0.3s ease !important;
}

.list-inline-item:hover a {
    color: #e4e4e4 !important;

}

@keyframes AnimationImages {

    from {
        opacity: 0;
        scale: 25%;
    }

    to {

        opacity: 1;
        scale: 100%;
    }
}